@model ResCalculator.Models.ResistorBands;

@{
    ViewData["Title"] = "Home Page";

}

@section Styles {
    <link href="@Url.Content("~/css/homeIndex.css")" rel="stylesheet" type="text/css" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @using (Html.BeginForm("Calculate", "Home"))
    {
        <div>
            @Html.LabelFor(a => a.bandA, "Color of Resistor Band A:")
            <select id="bandA" name="bandA">
                <option value=@ViewBag.bandOne>@ViewBag.bandOne</option>
                <option value="None">None</option>
                <option class="pink-item" value="Pink">Pink</option>
                <option class="silver-item" value="Silver">Silver</option>
                <option class="gold-item" value="Gold">Gold</option>
                <option class="black-item" value="Black">Black</option>
                <option class="brown-item" value="Brown">Brown</option>
                <option class="red-item" value="Red">Red</option>
                <option class="orange-item" value="Orange">Orange</option>
                <option class="yellow-item" value="Yellow">Yellow</option>
                <option class="green-item" value="Green">Green</option>
                <option class="blue-item" value="Blue">Blue</option>
                <option class="violet-item" value="Violet">Violet</option>
                <option class="grey-item" value="Grey">Grey</option>
                <option class="white-item" value="White">White</option>
            </select>
</div>
        <div>
            @Html.LabelFor(a => a.bandB, "Color of Resistor Band B:")
            <select id="bandB" name="bandB">
                <option value=@ViewBag.bandTwo>@ViewBag.bandTwo</option>
                <option value="None">None</option>
                <option class="pink-item" value="Pink">Pink</option>
                <option class="silver-item" value="Silver">Silver</option>
                <option class="gold-item" value="Gold">Gold</option>
                <option class="black-item" value="Black">Black</option>
                <option class="brown-item" value="Brown">Brown</option>
                <option class="red-item" value="Red">Red</option>
                <option class="orange-item" value="Orange">Orange</option>
                <option class="yellow-item" value="Yellow">Yellow</option>
                <option class="green-item" value="Green">Green</option>
                <option class="blue-item" value="Blue">Blue</option>
                <option class="violet-item" value="Violet">Violet</option>
                <option class="grey-item" value="Grey">Grey</option>
                <option class="white-item" value="White">White</option>
            </select>
        </div>
        <div>
            @Html.LabelFor(a => a.bandC, "Color of Resistor Band C:")
            <select id="bandC" name="bandC">
                <option value=@ViewBag.bandThree>@ViewBag.bandThree</option>
                <option value="None">None</option>
                <option class="pink-item" value="Pink">Pink</option>
                <option class="silver-item" value="Silver">Silver</option>
                <option class="gold-item" value="Gold">Gold</option>
                <option class="black-item" value="Black">Black</option>
                <option class="brown-item" value="Brown">Brown</option>
                <option class="red-item" value="Red">Red</option>
                <option class="orange-item" value="Orange">Orange</option>
                <option class="yellow-item" value="Yellow">Yellow</option>
                <option class="green-item" value="Green">Green</option>
                <option class="blue-item" value="Blue">Blue</option>
                <option class="violet-item" value="Violet">Violet</option>
                <option class="grey-item" value="Grey">Grey</option>
                <option class="white-item" value="White">White</option>
            </select>
        </div>
        <div>
            @Html.LabelFor(a => a.bandD, "Color of Resistor Band D:")
            <select id="bandD" name="bandD">
                <option value=@ViewBag.bandFour>@ViewBag.bandFour</option>
                <option value="None">None</option>
                <option class="pink-item" value="Pink">Pink</option>
                <option class="silver-item" value="Silver">Silver</option>
                <option class="gold-item" value="Gold">Gold</option>
                <option class="black-item" value="Black">Black</option>
                <option class="brown-item" value="Brown">Brown</option>
                <option class="red-item" value="Red">Red</option>
                <option class="orange-item" value="Orange">Orange</option>
                <option class="yellow-item" value="Yellow">Yellow</option>
                <option class="green-item" value="Green">Green</option>
                <option class="blue-item" value="Blue">Blue</option>
                <option class="violet-item" value="Violet">Violet</option>
                <option class="grey-item" value="Grey">Grey</option>
                <option class="white-item" value="White">White</option>
            </select>
        </div>
        <input type="Submit" value="Calculate" />
    }
</div>


<div class="text-xl-center">
    <br />
    <p>Resistor Ohm Value: @ViewData["OhmValue"]</p>
    @if (String.IsNullOrWhiteSpace("" + ViewData["Tolerance"]))
    {
        <p>Tolerance Percentage:</p>
    }
    else
    {
        <p>@Html.Raw($"Tolerance Percentage: &plusmn;{@ViewData["Tolerance"]}")</p>
    }
    
</div>
