@model ResCalculator.Models.ResistorBands;

@{
    ViewData["Title"] = "Home Page";

}

@section Styles {
    <link href="@Url.Content("~/css/homeIndex.css")" rel="stylesheet" type="text/css" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @using (Html.BeginForm("Calculate", "Home"))
    {
        <div>
            @Html.LabelFor(a => a.bandA, "Color of Resistor Band A:")
            <select id="bandA" name="bandA">
                <option value="">Select One</option>
                <option value="0">None</option>
                <option class="pink-item" value="1">Pink</option>
                <option class="silver-item" value="2">Silver</option>
                <option class="gold-item" value="3">Gold</option>
                <option class="black-item" value="4">Black</option>
                <option class="brown-item" value="5">Brown</option>
                <option class="red-item" value="6">Red</option>
                <option class="orange-item" value="7">Orange</option>
                <option class="yellow-item" value="8">Yellow</option>
                <option class="green-item" value="9">Green</option>
                <option class="blue-item" value="10">Blue</option>
                <option class="violet-item" value="11">Violet</option>
                <option class="grey-item" value="12">Grey</option>
                <option class="white-item" value="13">White</option>
            </select>
        </div>
        <div>
            @Html.LabelFor(a => a.bandB, "Color of Resistor Band B:")
            <select id="bandB" name="bandB">
                <option value="">Select One</option>
                <option value="0">None</option>
                <option class="pink-item" value="1">Pink</option>
                <option class="silver-item" value="2">Silver</option>
                <option class="gold-item" value="3">Gold</option>
                <option class="black-item" value="4">Black</option>
                <option class="brown-item" value="5">Brown</option>
                <option class="red-item" value="6">Red</option>
                <option class="orange-item" value="7">Orange</option>
                <option class="yellow-item" value="8">Yellow</option>
                <option class="green-item" value="9">Green</option>
                <option class="blue-item" value="10">Blue</option>
                <option class="violet-item" value="11">Violet</option>
                <option class="grey-item" value="12">Grey</option>
                <option class="white-item" value="13">White</option>
            </select>
        </div>
        <div>
            @Html.LabelFor(a => a.bandC, "Color of Resistor Band C:")
            <select id="bandC" name="bandC">
                <option value="">Select One</option>
                <option value="0">None</option>
                <option class="pink-item" value="1">Pink</option>
                <option class="silver-item" value="2">Silver</option>
                <option class="gold-item" value="3">Gold</option>
                <option class="black-item" value="4">Black</option>
                <option class="brown-item" value="5">Brown</option>
                <option class="red-item" value="6">Red</option>
                <option class="orange-item" value="7">Orange</option>
                <option class="yellow-item" value="8">Yellow</option>
                <option class="green-item" value="9">Green</option>
                <option class="blue-item" value="10">Blue</option>
                <option class="violet-item" value="11">Violet</option>
                <option class="grey-item" value="12">Grey</option>
                <option class="white-item" value="13">White</option>
            </select>
        </div>
        <div>
            @Html.LabelFor(a => a.bandD, "Color of Resistor Band D:")
            <select id="bandD" name="bandD">
                <option value="">Select One</option>
                <option value="0">None</option>
                <option class="pink-item" value="1">Pink</option>
                <option class="silver-item" value="2">Silver</option>
                <option class="gold-item" value="3">Gold</option>
                <option class="black-item" value="4">Black</option>
                <option class="brown-item" value="5">Brown</option>
                <option class="red-item" value="6">Red</option>
                <option class="orange-item" value="7">Orange</option>
                <option class="yellow-item" value="8">Yellow</option>
                <option class="green-item" value="9">Green</option>
                <option class="blue-item" value="10">Blue</option>
                <option class="violet-item" value="11">Violet</option>
                <option class="grey-item" value="12">Grey</option>
                <option class="white-item" value="13">White</option>
            </select>
        </div>
        <input type="Submit" value="Calculate" />
    }
</div>

<div class="text-xl-center">
    <p>Resistor Ohm Value: @ViewData["OhmValue"]</p>
    <p>Tolerance Percentage: @ViewData["Tolerance"]</p>
</div>
